.clients-container {
  height: calc((100vh - 250px) / 2 - 16px);
}

.clients-content {
  height: calc((100vh - 280px) / 2 - 24px);
}

.clients-table {
  height: calc((100vh - 200px) / 2 - 100px);
}

@media screen and (max-width: 1280px) {
  .clients-container {
    height: calc((100vh - 240px) / 2 - 16px);
  }
}

@media screen and (max-width: 768px) {
  .clients-container {
    height: fit-content
  }

  .clients-content {
    height: fit-content;
  }

  .clients-table {
    height: fit-content;
  }
}

@media screen and (max-width: 480px) {
  .clients-container {
    height: fit-content;
  }

  .clients-content {
    height: fit-content;
  }

  .clients-table {
    height: fit-content;
  }
}
