@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
  overflow: hidden;
  height: 100%;
  width: 100%;
  --sb-track-color: #e9f0f200;
  --sb-thumb-color: #e5e5e5;
  --sb-size: 8px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* icons */
.report-sidemenu-layer-icon {
  mask-image: url(/icons/layer.svg);
  -webkit-mask-image: url(/icons/layer.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
  width: 1.25rem; /* Tailwind w-6 */
  height: 1.25rem; /* Tailwind h-6 */
}
.report-sidemenu-menu-icon {
  mask-image: url(/icons/menu.svg);
  -webkit-mask-image: url(/icons/menu.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
  width: 1.25rem; /* Tailwind w-6 */
  height: 1.25rem; /* Tailwind h-6 */
}

.sidemenu-menu-icon-clientList {
  mask-image: url(/icons/side-menu/client-list.svg);
  -webkit-mask-image: url(/icons/side-menu/client-list.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-dashboard {
  mask-image: url(/icons/side-menu/dashboard.svg);
  -webkit-mask-image: url(/icons/side-menu/dashboard.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-shared-witth-you {
  mask-image: url(/icons/side-menu/shared-witth-you.svg);
  -webkit-mask-image: url(/icons/side-menu/shared-witth-you.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-messages {
  mask-image: url(/icons/side-menu/messages.svg);
  -webkit-mask-image: url(/icons/side-menu/messages.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-money-send {
  mask-image: url(/icons/side-menu/bookmark-2.svg);
  -webkit-mask-image: url(/icons/side-menu/bookmark-2.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-forms {
  mask-image: url(/icons/sidbar-menu/document-text.svg);
  -webkit-mask-image: url(/icons/sidbar-menu/document-text.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-reports {
  mask-image: url(/icons/side-menu/reports.svg);
  -webkit-mask-image: url(/icons/side-menu/reports.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}

.sidemenu-menu-icon-packages {
  mask-image: url(/icons/side-menu/wallet-3.svg);
  -webkit-mask-image: url(/icons/side-menu/wallet-3.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-setting {
  mask-image: url(/icons/side-menu/setting-2.svg);
  -webkit-mask-image: url(/icons/side-menu/setting-2.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-trend-up {
  mask-image: url(/icons/side-menu/trend-up.svg);
  -webkit-mask-image: url(/icons/side-menu/trend-up.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}

.sidemenu-menu-icon-lamp {
  mask-image: url(/icons/side-menu/lamp.svg);
  -webkit-mask-image: url(/icons/side-menu/lamp.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-drift-analysis {
  mask-image: url(/icons/status-up.svg);
  -webkit-mask-image: url(/icons/status-up.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Branding {
  mask-image: url(/icons/side-menu/setting-5.svg);
  -webkit-mask-image: url(/icons/side-menu/setting-5.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Biomarker {
  mask-image: url(/icons/side-menu/backward-item.svg);
  -webkit-mask-image: url(/icons/side-menu/backward-item.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Form {
  mask-image: url(/icons/side-menu/firstline.svg);
  -webkit-mask-image: url(/icons/side-menu/firstline.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Diet {
  mask-image: url(/icons/side-menu/apple.svg);
  -webkit-mask-image: url(/icons/side-menu/apple.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Activity {
  mask-image: url(/icons/side-menu/weight.svg);
  -webkit-mask-image: url(/icons/side-menu/weight.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Supplement {
  mask-image: url(/icons/side-menu/pil.svg);
  -webkit-mask-image: url(/icons/side-menu/pil.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Lifestyle {
  mask-image: url(/icons/side-menu/wellness-svgrepo-com\ 2.svg);
  -webkit-mask-image: url(/icons/side-menu/wellness-svgrepo-com\ 2.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-home {
  mask-image: url(/icons/side-menu/home-2.svg);
  -webkit-mask-image: url(/icons/side-menu/home-2.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Package {
  mask-image: url(/icons/side-menu/box.svg);
  -webkit-mask-image: url(/icons/side-menu/box.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
.sidemenu-menu-icon-Staff {
  mask-image: url(/icons/side-menu/profile-2user.svg);
  -webkit-mask-image: url(/icons/side-menu/profile-2user.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
}
/* .report-side-menu-layer-icon{
  mask-image: url('/public//icons//menu.svg');
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply  h-4;
} */

.gradient-border {
  border-style: solid;

  border-image: linear-gradient(to right, #005f73, #6cc24a) 1;
}
.text-gradient {
  background: linear-gradient(to right, #005f73, #6cc24a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@layer utilities {
  .TextStyle-Button {
    @apply text-xs font-medium;
  }
  .TextStyle-Overline {
    @apply text-[10px] font-medium;
  }
  .TextStyle-Headline-1 {
    @apply text-[32px] font-medium;
  }
  .TextStyle-Headline-2 {
    @apply text-[24px] font-medium;
  }
  .TextStyle-Headline-3 {
    @apply text-[20px] font-medium;
  }
  .TextStyle-Headline-4 {
    @apply text-[16px] font-medium;
  }
  .TextStyle-Headline-5 {
    @apply text-xs md:text-[14px] font-medium;
  }
  .TextStyle-Headline-6 {
    @apply text-[12px] font-medium;
  }

  .TextStyle-Body-1 {
    @apply text-[14px];
  }
  .TextStyle-Body-2 {
    @apply text-[12px];
  }
  .TextStyle-Body-3 {
    @apply text-[10px];
  }

  .TextStyle-Subtitle-1 {
    @apply text-[16px] font-medium;
  }
  .TextStyle-Subtitle-2 {
    @apply text-[14px] font-medium;
  }
}

.Aurora-TextArea-container {
  @apply flex flex-col  w-[100%]  gap-y-1;
}
.Aurora-TextArea-label {
  @apply leading-[19.36px] text-[12px] font-[500] text-Text-Primary opacity-85;
}
.Aurora-TextArea-input {
  @apply focus:outline-none h-[5px] w-full resize-none px-2 rounded-[6px]  placeholder:leading-[27.25px]  placeholder:text-[16px]  placeholder:font-[300]   pb-[12px] pt-[10px] border dark:border-[#383838]   bg-white  dark:bg-[#1E1E1E];
}

.Aurora-TextArea-inValid {
  @apply border-red-500 border;
}
.Aurora-TextArea-box {
  @apply rounded-[4px] flex items-center justify-between;
}
.Aurora-TextArea-togglePassword {
  @apply cursor-pointer;
}

.Aurora-TextArea-error {
  @apply text-red-500 text-xs -mt-1;
}

.Aurora-S-TextArea-container {
  @apply flex flex-col  w-[100%]  gap-y-1;
}
.Aurora-S-TextArea-label {
  @apply leading-[19.36px] text-[12px] font-[500] opacity-85 text-Text-Primary;
}
.Aurora-S-TextArea-input {
  @apply focus:outline-none   h-[200px] px-2 w-full resize-none  rounded-[6px]  placeholder:leading-[27.25px]  placeholder:text-[12px] text-[12px] placeholder:font-[300]   pb-[12px] py-[24px] bg-backgroundColor-Card border-gray-50;
}

.Aurora-S-TextArea-inValid {
  @apply border-red-500 border;
}
.Aurora-S-TextArea-box {
  @apply rounded-[4px] flex items-center justify-between;
}
.Aurora-S-TextArea-togglePassword {
  @apply cursor-pointer;
}

.Aurora-S-TextArea-error {
  @apply text-red-500 text-xs -mt-1;
}

.hidden-scrollbar::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Edge */
}

::-webkit-scrollbar {
  width: var(--sb-size);
}

::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 8px;
}

.sliderCheckin::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 10px;
  background-color: #6cc24a;
  overflow: visible;
  cursor: pointer;
}
.react-datepicker {
  left: 14px;
}
.Calendar {
  font-size: 8px !important;
}
.Calendar__monthYear > * {
  font-size: 12px !important;
}
.bullet-point::before {
  content: '•'; /* Unicode for bullet character */
  color: inherit; /* Color of the bullet */
  display: inline-block;
  width: 10px; /* Space for the bullet */
  margin-right: 4px; /* Space between bullet and text */
  font-size: 14px; /* Adjust size of the bullet if needed */
}
/* Add this to your global CSS */

/* Custom slider thumb */
input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #6cc24a; /* Tailwind's green-500 */
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #6cc24a; /* Tailwind's green-500 */
  border-radius: 50%;
  cursor: pointer;
}

input[type='range']::-ms-thumb {
  width: 12px;
  height: 12px;
  background-color: #6cc24a; /* Tailwind's green-500 */
  border-radius: 50%;
  cursor: pointer;
}
input[type='range'] {
  appearance: none;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background: #e9edf5;
  outline: none;
  transition: background 0.15s ease-in-out;
}
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 97px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 10px; /* Round the corners */
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Scrollbar track color */
}

/* For Firefox */
.custom-scrollbar {
  scrollbar-width: thin; /* Make the scrollbar thin */
  scrollbar-color: #ffffff #ffffff; /* Scrollbar thumb and track color */
}
.chat-shadow-box {
  box-shadow: 4px 0px 12px 0px rgba(202, 202, 215, 0.25);
}
/* .Calendar {
  width: 100% !important;
}

@media (max-width: 1200px) {
  .Calendar {
    width: 100% !important;
  }} */

@media (max-width: 640px) {
  .max-sm-absolute {
    position: absolute;
  }
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
.scroll-container {
  scroll-padding-top: 60px; /* Adjust as needed */
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #383838 !important;
  transition: background-color 5000s ease-in-out 0s;
}

.react-tooltip {
  background-color: #ffffff !important;
  opacity: 1 !important;

  border: 1px solid #e9edf5 !important;
  border-radius: 6px !important;
  padding: 6px !important;
  font-size: 10px !important;
  font-weight: 500 !important;
  line-height: 20px !important;
  color: #383838 !important;
  --tw-shadow: 0px 2px 4px -2px #18274b1f, 0px 4px 4px -2px #18274b14 !important;
  --tw-shadow-colored: 0px 2px 4px -2px var(--tw-shadow-color),
    0px 4px 4px -2px var(--tw-shadow-color) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
@keyframes dot-bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
    opacity: 0.4;
  }
  40% {
    transform: scale(1);
    opacity: 1;
  }
}
.animate-dot1 {
  animation: dot-bounce 1.4s infinite ease-in-out;
}
.animate-dot2 {
  animation: dot-bounce 1.4s infinite ease-in-out 0.2s;
}
.animate-dot3 {
  animation: dot-bounce 1.4s infinite ease-in-out 0.4s;
}
