@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

/* icons */
.report-sidemenu-layer-icon {
  mask-image: url(/icons/layer.svg);
  -webkit-mask-image: url(/icons/layer.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
  width: 1.25rem; /* Tailwind w-6 */
  height: 1.25rem; /* Tailwind h-6 */
}
.report-sidemenu-menu-icon {
  mask-image: url(/icons/menu.svg);
  -webkit-mask-image: url(/icons/menu.svg);
  mask-size: 100%;
  -webkit-mask-size: 100%;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
  background-color: currentColor; /* To show the icon color */
  width: 1.25rem; /* Tailwind w-6 */
  height: 1.25rem; /* Tailwind h-6 */
}
/* .report-side-menu-layer-icon{
  mask-image: url('/public//icons//menu.svg');
  mask-size: 100%;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  mask-position: center;
  @apply  h-4;
} */

@layer utilities {
    .TextStyle-Button {
        @apply text-xs font-medium;
    }
    .TextStyle-Overline {
        @apply text-[10px] font-medium;
    }
    .TextStyle-Headline-1 {
        @apply text-[32px] font-medium;
    }
    .TextStyle-Headline-2 {
        @apply text-[24px] font-medium;
    }
    .TextStyle-Headline-3 {
        @apply text-[20px] font-medium;
    }
    .TextStyle-Headline-4 {
        @apply text-[16px] font-medium;
    }
    .TextStyle-Headline-5 {
        @apply text-[14px] font-medium;
    }
    .TextStyle-Headline-6 {
        @apply text-[12px] font-medium;
    }                

    .TextStyle-Body-1 {
        @apply text-[14px] ;
    } 
    .TextStyle-Body-2 {
        @apply text-[12px] ;
    }     
    .TextStyle-Body-3 {
        @apply text-[10px] ;
    }   
    
    .TextStyle-Subtitle-1 {
        @apply text-[16px] font-medium;
    }  
    .TextStyle-Subtitle-1 {
        @apply text-[14px] font-medium;
    }                 
}
